@charset "utf-8";
/* CSS Document */
*, a, li, img, input {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

body {
	font-family: "微软雅黑";
}

.orange {
	color: orange;
}

.clear {
	clear: both;
}

.inner {
	width: 1000px;
	margin: 0px auto;
}
/*header*/
.header {
	width: 1000px;
	margin: 0 auto;
}

.header dt {
	width: 200px;
	height: 66px;
	float: left;
	background: url(../img/logo.png) left bottom no-repeat;
	padding-top: 10px;
}

.header dt div {
	margin-left: 210px;
	padding-left: 40px;
	width: 220px;
	height: 66px;
	font-size: 20px;
	font-family: "微软雅黑";
	color: #6d6d6d;
	line-height: 30px;
	background: url(../images/leftline.png) left center no-repeat;
}

.header dd {
	position: relative;
	width: 400px;
	height: 70px;
	float: right;
	padding-top: 12px;
}

#dangqian {
	background-color: #df6040;
}

.lxwm {
	padding-left: 0px;
}

.lxwm ul {
	float: right;
}

.lxwm li {
	float: left;
}

.lxwm li a {
	display: block;
	color: #666;
	font-size: 16px;
	line-height: 25px;
	margin: 0px;
	width: 100px;
	padding-top: 25px;
	text-align: right;
}

/*菜单*/
.menu {
	background-color: #a59679;
}

.nav {
	width: 1000px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	margin: 0 auto;
	background-color: #a59679;
}

.nav li {
	text-align: center;
	float: left;
	padding-right: 2px;
	color: white;
	padding: 0px 35px;
	position: relative;
}

.nav li:hover {
	background-color: #df6040;
}

/*banner*/
.fullSlide {
	width: 100%;
	position: relative;
	height: 472px;
	background: #000;
}

.fullSlide .bd {
	margin: 0 auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.fullSlide .bd ul {
	width: 100% !important;
}

.fullSlide .bd li {
	width: 100% !important;
	overflow: hidden;
	text-align: center;
}

.fullSlide .bd li a {
	display: block;
	height: 472px;
}

.fullSlide .bd li img {
	width: 100%;
	height: 472px;
}

.fullSlide .hd {
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
	background: url(../images/touming.png) repeat-x;
	text-align: center;
	_background: #000;
	_filter: alpha(opacity = 60);
}

.fullSlide .hd ul {
	text-align: center;
	padding-top: 5px;
}

.fullSlide .hd ul li {
	cursor: pointer;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 8px;
	height: 8px;
	margin: 5px;
	background: url(../images/tg_flash_p.png) -18px 0;
	overflow: hidden;
	line-height: 9999px;
}

.fullSlide .hd ul .on {
	background-position: 0 0;
}

/*main*/
.about {
	height: 215px;
	padding: 25px 0px;
}

.about .head {
	
}

.head h1 {
	float: left;
	color: #e5954e;
	font-size: 20px;
	line-height: 28px;
}

.head h2 {
	display: block;
	float: left;
	font-size: 32px;
	line-height: 28px;
	margin-top: 30px;
}

.head small {
	color: #666666;
	line-height: 33px;
	margin-left: 5px;
	font-size: 14px;
}

.head .more {
	float: right;
	color: #ff8300;
	position: absolute;
	bottom: 10px;
	right: 25px;
	font-size: 12px;
}

.yw {
	height: 300px;
	padding: 10px 0px;
}

.yw .inner {
	width: 1032px;
}

.yw .tit {
	font-size: 16px;
	color: #333333;
	text-indent: 10px;
	margin-bottom: 7px;
}

.yw li {
	width: 150px;
	float: left;
	margin: 10.5px;
}

.yw li img {
	width: 150px;
	height: 225px;
}

.yw li .name {
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
	color: #333
}

.yw li .author {
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
	color: #666666
}

/*footer*/
.bottom {
	font-size: 14px;
}

.bottom .inner {
	position: relative;
}

.bottom .ul1 .li1 {
	line-height: 25px;
	float: left;
	margin: 20px 60px;
	color: #fff;
	font-size: 14px;
}

.bottom .ul1 .li1 a {
	color: #fff;
}

.bottom .ul1 .li1 li {
	font-size: 12px;
	text-indent: 15px;
	left
	center
	no-repeat;
}

.bottom .ba {
	text-align: center;
	color: #fff;
	font-size: 12px;
	margin-top: 15px;
	height: 50px;
	line-height: 50px;
	background-color: #a59679;
}

.bottom .ba .left {
	float: left;
}

.bottom .ba .right {
	float: right;
}

.bottom .ba .right a {
	color: #fff;
}

.main {
	padding: 30px 0px;
}

.left_nav {
	width: 165px;
	float: left;
}

.left_nav .head {
	line-height: 50px;
	height: 50px;
	background-color: #2289ce;
	text-indent: -17px;
}

.left_nav .head h1 {
	color: #fff;
	line-height: 50px;
	font-size: 12px;
	width: 100%;
	text-align: center;
	position: relative;
}

.left_nav .icon {
	position: absolute;
	top: 20px;
	right: 10px;
}

.left_nav .icon img {
	width: 10px;
	height: 10px;
}

.left_nav ul {
	display: block;
}

.left_nav li {
	line-height: 50px;
	text-align: left;
	background-color: #f4f4f4;
	position: relative;
}

.left_nav li.cur {
	background-color: #fff;
}

.left_nav li:hover {
	background-color: #fff;
}

.left_nav li:hover a {
	color: #2289ce;
}

.left_nav li a {
	font-size: 12px;
	color: #666;
	display: block;
	height: 100%;
	margin: 0px auto;
	text-indent: 48px;
	border-bottom: 1px solid #c0c0c0;
}

.lx_box {
	padding: 20px;
	background-color: #8fdaff;
}

.lx_box .tel_box {
	margin-bottom: 10px;
}

.lx_box .tel_box .right {
	width: 150px;
	float: right;
}

.lx_box .tel_box .right .num {
	font-size: 24px;
	font-family: Arial;
	color: #004caa
}

.lx_box dl {
	color: #004caa;
	margin: 10px 0px;
	font-size: 16px;
}

.lx_box dt {
	float: left;
}

.right_con {
	width: 793px;
	float: right;
	margin-bottom: 0px;
}

.right_con h2 {
	color: #999;
	font-size: 12px;
	line-height: 25px;
	text-align: right;
	border-bottom: 2px solid #d8d8d9;
	margin-bottom: 10px;
}

.right_con h3 {
	color: #666666;
	margin-bottom: 15px;
}

.right_con h2 a {
	color: #999;
}

.right_con h2 .cursite {
	color: #4896bc;
}

.right_con .content .ul_prod li {
	width: 190px;
	float: left;
	margin: 10px 3px;
}

.right_con .content .ul_prod li img {
	width: 190px;
	height: 170px;
}

.right_con .content .ul_prod li .tit {
	width: 190px;
	font-size: 14px;
	line-height: 30px;
	color: #282828;
	text-align: center;
}

/*分页*/
.fenye {
	margin: 50px 0px;
	height: 50px;
	text-align: center;
}

.fenye ul {
	width: 300px;
	margin-left: 30%;
}

.fenye li {
	float: left;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 12px;
	margin-left: 5px;
}

.fenye li.nostyle {
	border: none;
	background: none;
	margin: 0px;
	padding: 7px 5px;
}

.fenye li.bgfff {
	background-color: #fff;
	padding: 7px 7px;
	text-align: center;
	margin: 0px;
}

.fenye li input[type=text] {
	width: 25px;
	outline: none;
}

.fenye li.cur {
	background-color: #2eb6ff;
	color: #fff;
}

.fenye li.go {
	background-color: #15499a;
	color: #fff;
	border-color: #15499a
}

.right_con .content p {
	color: #777;
	font-size: 14px;
	text-indent: 2em;
}

.right_con .content h3 {
	color: #666666;
	font-size: 18px;
	margin: 8px 0px;
	font-weight: 500;
	margin-bottom: 20px;
}

.right_con .content dl {
	color: #a0a0a0;
	font-size: 14px;
}

.right_con .content dt {
	float: left;
	padding-top: 7px;
}

.right_con .content dd {
	padding-top: 7px;
}

.boxtitle {
	display: block;
	padding-left: 360px;
}

.cbox {
	display: block;
	padding-left: 100px;
}

.rd {
	display: block;
	padding-left: 85px;
	padding-bottom: 20px;
}

.input_control {
	width: 280px;
	margin: 20px auto;
}

select {
	box-sizing: border-box;
	text-align: center;
	font-size: 0.9em;
	height: 2.4em;
	margin-top: 10px;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	background-color: #ffffff;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 2%;
	text-decoration: none;
	width: 100%;
}

option {
	text-align: center;
}

input[type="text"], input[type="password"] {
	box-sizing: border-box;
	text-align: center;
	font-size: 0.9em;
	height: 2.2em;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

#btn1 {
	box-sizing: border-box;
	text-align: center;
	font-size: 0.9em;
	height: 2.4em;
	border-radius: 4px;
	color: #f9fafc;
	background-color: #f7b44b;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

#btn2 {
	box-sizing: border-box;
	text-align: center;
	font-size: 0.9em;
	height: 2.4em;
	margin-top: 10px;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	background-color: #ffffff;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:focus {
	border: 1px solid #f7b44b;
}

input[type="password"]:focus {
	border: 1px solid #f7b44b;
}

.notification {
	text-align: center;
	color: #6a6f77;
	line-height: 36px;
}

.notification h1 {
	text-align: center;
	font-size: 30sp;
	color: #666;
	margin-top: 10px;
}

.book {
	display: block;
	width: 800px;
	margin: 0 auto;
}

.book img {
	display: block;
	float: left;
	width: 200px;
	height: 300px;
}

.book .detail {
	display: block;
	float: left;
	margin-left: 100px;
}

.book .detail .list li {
	margin-bottom: 15px;
	font-size: 18px;
}

.book .detail .price {
	display: block;
	float: left;
	font-size: 50px;
	margin-top: 20px;
}

.book .detail .price small {
	display: block;
	float: left;
	font-size: 30px;
	margin-top: 20px;
}

.book .detail .cart {
	display: block;
	float: left;
	height: 50px;
	width: 200px;
	margin-top: 30px;
	margin-left: 50px;
}

.book .detail .cart button {
	height: 50px;
	width: 200px;
	text-align: center;
	font-size: 1.2em;
	border-radius: 4px;
	color: #f9fafc;
	background-color: #DF6040;
	-web-kit-appearance: none;
	-moz-appearance: none;
}

.summary {
	margin-top: 10px;
	font-size: 16px;
	line-height: 28px;
}

.dis {
	height: 1700px;
	padding: 10px 0px;
	display: block;
}

.dis .inner {
	width: 1032px;
	display: block;
}

.dis .tit {
	font-size: 16px;
	color: #333333;
	text-indent: 10px;
	margin-bottom: 7px;
}

.dis li {
	width: 200px;
	float: left;
	margin: 29px;
}

.dis li img {
	width: 200px;
	height: 300px;
}

.dis li .name {
	font-size: 20px;
	text-align: center;
	margin-top: 15px;
	color: #333
}

.dis li .author {
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	color: #666666
}

.empty {
	display: block;
	height: 100px;
	width: 100%;
}

.userinfo {
	display: block;
	margin-top: 50px;
	margin-left: 160px;
	float: none;
}

.userinfo .list li {
	display: block;
	margin-bottom: 15px;
	font-size: 18px;
}

.cart {
	margin: 0 auto;
}

.cart table {
	margin: 0 auto;
	text-align: center;
}

.cart td {
	height: 50px;
	align-text: center;
}

.cart input[type="text"] {
	width: 50px;
	text-align: center;
}

.am {
	margin: 0 auto;
	display: flex;
	align-items: center;
	width: 100px;
}

.am input[type="button"] {
	text-align: center;
	font-size: 0.9em;
	height: 1.3em;
	border-radius: 2px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	background-color: #ffffff;
	-web-kit-appearance: none;
	-moz-appearance: none;
	outline: 0;
	padding-bottom: 20px;
	text-decoration: none;
	width: 20px;
}

#btn3 {
	box-sizing: border-box;
	text-align: center;
	font-size: 0.9em;
	height: 2.4em;
	border-radius: 4px;
	color: #f9fafc;
	background-color: #f7b44b;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 70%;
}

.cal {
	box-sizing: border-box;
	text-align: center;
	font-size: 1.4em;
	height: 2.0em;
	border-radius: 4px;
	color: #f9fafc;
	background-color: #df6040;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
	margin-bottom: 2px;
}

#btn4 {
	box-sizing: border-box;
	text-align: center;
	font-size: 0.9em;
	height: 2.4em;
	margin-top: 10px;
	border-radius: 4px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	background-color: #ffffff;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 2%;
	text-decoration: none;
	width: 100%;
}

.search {
	display: inline-block;
	width: 490px;
	margin: 0 auto;
	height: 180px;
}

.search a {
	color: #000;
}

.search img {
	display: inline-block;
	float: left;
	width: 100px;
	height: 150px;
}

.search .bk {
	display: inline-block;
	width: 400px;
	height: 150px;
}

.search .bk li {
	display: inline-block;
	width: 400px;
}

.search .detail {
	display: block;
	float: left;
	margin-left: 50px;
	width: 300px;
	margin-top: 10px;
}

.search .detail h2 {
	margin-bottom: 10px;
	color: #000;
}

.search .detail li {
	margin-bottom: 5px;
	font-size: 14px;
	width: 200px;
}

.search .detail .price {
	display: inline-block;
	float: left;
	font-size: 30px;
	margin-top: 0px;
}

.search .detail .price small {
	display: block;
	float: left;
	font-size: 16px;
	margin-top: 5px;
}

#btn5 {
	box-sizing: border-box;
	text-align: center;
	font-size: 0.9em;
	height: 2.4em;
	border-radius: 4px;
	color: #f9fafc;
	background-color: #f7b44b;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

#btn6 {
	box-sizing: border-box;
	text-align: center;
	font-size: 0.9em;
	height: 2.4em;
	border-radius: 4px;
	color: #f9fafc;
	background-color: #df6040;
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}